<h1>Editando agendamento de passeio fixo</h1>

<%= render 'form', fixed_scheduling: @fixed_scheduling %>

<%= link_to 'Mostrar', @fixed_scheduling %> |
<%= link_to 'Voltar', fixed_schedulings_path %>
