<center><img src='http://1.bp.blogspot.com/-BWKGpZ-jIbs/UiPcUvB7laI/AAAAAAAAAi4/5zLwAxdyDzk/s1600/484480_509871199038619_1940692855_n.jpg' height="288" width="287.1"></center>
<div style='font-size:20px'>
<a href="/app/views/volunteers/index.html.erb">Voluntários</a> <br> <br>
<a href="/app/views/fixed_schedulings/index.html.erb">Agendamentos Fixos</a> <br> <br>
<a href="/app/views/experimental_schedulings/index.html.erb">Agendamentos Experimentais</a> <br> <br>
<a href="/app/views/walkings/index.html.erb">Passeios</a> <br> <br>
<a href="/app/views/animals/index.html.erb">Cães</a>
</div>