<h1>Editing Agendamentos Experimentai</h1>

<%= render 'form', agendamentos_experimentai: @agendamentos_experimentai %>

<%= link_to 'Show', @agendamentos_experimentai %> |
<%= link_to 'Back', agendamentos_experimentais_path %>
