<h1>Editando agendamento de passeio experimental</h1>

<%= render 'form', experimental_scheduling: @experimental_scheduling %>

<%= link_to 'Mostrar', @experimental_scheduling %> |
<%= link_to 'Voltar', experimental_schedulings_path %>
