// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
.landing_page a:link{
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 25px;

}
.landing_page a:hover{
    background-color: gray;
}
